if is_current('/')
  #home_top
    include ./bbTimeList.pug
    .home_top_group
      #homeTopGroup.homeTopGroup
        #banner_group
          #banners
            include sticky.pug          
          .category_group
            .category_item
              a.category_button.bikan(href="/tags/Hexo/")
                span.category_button_text 必看精选
                i.fas.fa-dove
            .category_item
              a.category_button.remen(href="/tags/%E6%8A%80%E6%9C%AF%E5%88%86%E4%BA%AB/")
                span.category_button_text 热门文章
                i.fas.fa-burn
            .category_item
              a.category_button.qianduan(href="/tags/%E5%89%8D%E7%AB%AF/")
                span.category_button_text 前端工程
                i.fas.fa-code
        .top_post_group
          if site.data.slider
            each i in site.data.slider
              .top_post_item
                .post_cover
                  a(href=url_for(i.link) title=i.title)
                    span.post-top-text 荐
                    img.post_bg.entered.loaded(src=url_for(i.cover))
                    //- .post_cover_info
                    //-   p.post_cover_text= i.description

                .post_info(onclick=`pjax.loadUrl("${url_for(i.link)}")`)
                  a.article-title(href=url_for(i.link) title=i.title)= i.title
